{{- $name := promptStringOnce . "name" "Git user.name" -}}
{{- $email := promptStringOnce . "email" "Git user.email" -}}
{{- $npm_token := promptStringOnce . "npm_token" "NPM token" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    npm_token = {{ $npm_token | quote }}
