{{ if eq .chezmoi.os "windows" }}

winget install --id Amazon.Kindle
winget install --id Docker.DockerDesktop
winget install --id Google.Chrome
winget install --id Google.GoogleDrive
winget install --id Google.JapaneseIME
winget install --id Microsoft.VisualStudioCode
winget install --id TeraTermProject.teraterm5
winget install --id WiresharkFoundation.Wireshark

{{ end }}
